

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #1D2731;
    color: #E0DEDE;
    font-family: "Open Sans", sans-serif;
  }

  a {
    color: #E0DEDE;
    text-decoration: none;
  }

  a:hover, a:active, a:focus {
    color: #328CC1;
    outline: none;
    text-decoration: none;
  }

  p {
    padding: 0;
    margin: 0 0 30px 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }

  .center-align {
    align-items: center;
    text-align: center;
  }

  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #328CC1;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }

  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }

  .back-to-top:hover {
    background: #328CC1;
    color: #fff;
  }

  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #1D2731;
  }

  #header #logo h1 {
    font-size: 32px;
    margin: 0;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  #header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
  }

  #header #logo img {
    padding: 0;
    margin: 0;
  }

  #header.header-transparent {
    background: transparent;
  }

  #header.header-scrolled {
    background: #0b3c5d;
    height: 70px;
    transition: all 0.5s;
  }

  .scrolled-offset {
    margin-top: 70px;
  }

  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation
  */
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 24px;
  }

  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 14px;
    padding: 0 4px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
  }

  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #328CC1;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
    visibility: visible;
    transform: scaleX(1);
  }

  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #fff;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    border-radius: 15px;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #1D2731;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #E0DEDE;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #328CC1;
  }

  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }

  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }

  /**
  * Mobile Navigation
  */
  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }

  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
    .navbar ul {
      display: none;
    }
  }

  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    background: rgba(77, 77, 77, 0.9);
    transition: 0.3s;
    z-index: 999;
  }

  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    color: #fff;
    background-color: #1D2731;
    overflow-y: auto;
    transition: 0.3s;
  }

  .navbar-mobile > ul > li {
    padding: 0;
  }

  .navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
    visibility: hidden;
  }

  .navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #fff;
  }

  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #328CC1;
  }

  .navbar-mobile .getstarted {
    margin: 15px;
  }

  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #1D2731;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }

  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }

  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }

  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }

  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #328CC1;
  }

  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }


/* Banner for product pages */

  #banner {
    background: #1D2731;
    padding: 80px 0;
  }

  #banner .dp {
    margin-top: 15px;
    min-height: 150px;
    background: url("../img/dpbannerblur.png")  center top no-repeat;
    border-radius: 5px 5px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    background-size: contain;
  }

  @media (max-width: 768px) {
    #banner .about-container .background{
      background-size: 75%;
    }
  }

  #banner .about-container .content {
    background: #1D2731;
  }

  #banner .title {
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    padding-top: 30px;
    padding-left: 10px;
  }

  #banner .breadcrumb {
    padding-left: 25px;
  }

  @media (max-width: 768px) {
    #banner .about-container .title {
      padding-top: 15px;
    }
  }

  #banner .about-container p {
    line-height: 26px;
  }

  #banner .about-container p:last-child {
    margin-bottom: 0;
  }

  #banner .about-container .icon-box {
    background: #1D2731;
    background-size: cover;
    padding: 0 0 30px 0;
  }

  #banner .about-container .icon-box .icon {
    float: left;
    background: #1D2731;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #328CC1;
  }

  #banner .about-container .icon-box .icon i {
    color: #328CC1;
    font-size: 24px;
    line-height: 0;
  }

  #banner .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }

  #banner .about-container .icon-box .title a {
    color: #E0DEDE;
  }

  #banner .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }


  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: url(../img/herovid.mp4) top center;
    background-size: cover;
    position: relative;
  }

  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }

  #hero em {
    font-style: bold;

  }

  #hero video {
    position:absolute;
    object-fit: fill;
    height: 100%;
    width: 100%;
    opacity: .45;
  }

  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  #hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }

  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #hero {
      background: url("../img/hero.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    #hero video {
      display:none;
    }
  }

  #hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
  }

  @media (max-width: 768px) {
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  #hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }

  #hero .btn-get-started:hover {
    background: #328CC1;
    border: 2px solid #328CC1;
    backdrop-filter: blur(10px);
  }

  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  section {
    overflow: hidden;
  }

  /* Sections Header
  --------------------------------*/
  .section-header .section-title {
    font-size: 32px;
    color: #E0DEDE;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #999;
  }

  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 20px 0;
    background-color: whitesmoke;
    min-height: 40px;
    margin-top: 92px;
  }

  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }

  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }

  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  .breadcrumbs ol li + li {
    padding-left: 10px;
  }

  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }

  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
    .breadcrumbs ol {
      display: block;
    }
    .breadcrumbs ol li {
      display: inline-block;
    }
  }

  /* About Us Section
  --------------------------------*/
  #about {
    background: #1D2731;
    padding: 80px 0;
  }

  #about .about-container .background {
    min-height: 450px;
    background: url(../img/colors.jpg)  center top no-repeat;
    margin-bottom: 15px;
  }

  @media (max-width: 768px) {
    #about .about-container .background{
      background-size: 75%;
    }
  }

  #about .about-container .content {
    background: #1D2731;
  }

  #about .about-container .title {
    color: #E0DEDE;
    font-weight: 700;
    font-size: 32px;
  }

  @media (max-width: 768px) {
    #about .about-container .title {
      padding-top: 15px;
    }
  }

  #about .about-container p {
    line-height: 26px;
  }

  #about .about-container p:last-child {
    margin-bottom: 0;
  }

  #about .about-container .icon-box {
    background: #1D2731;
    background-size: cover;
    padding: 0 0 30px 0;
  }

  #about .about-container .icon-box .icon {
    float: left;
    background: #1D2731;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #328CC1;
  }

  #about .about-container .icon-box .icon i {
    color: #328CC1;
    font-size: 24px;
    line-height: 0;
  }

  #about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }

  #about .about-container .icon-box .title a {
    color: #E0DEDE;
  }

  #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }


  /* About Product */

  #about-product {
    background: #1D2731;
    padding: 80px 0;
  }

  #about-product .about-container .dvcomp {
    min-height: 450px;
    background: url(../img/colors.jpg)  center top no-repeat;
    margin-bottom: 15px;
  }

  @media (max-width: 768px) {
    #about-product .about-container .background{
      background-size: 75%;
    }
  }

  #about-product .about-container .content {
    background: #1D2731;
  }

  #about-product .about-container .title {
    color: #E0DEDE;
    font-weight: 700;
    font-size: 32px;
  }

  @media (max-width: 768px) {
    #about-product .about-container .title {
      padding-top: 15px;
    }
  }

  #about-product .about-container p {
    line-height: 26px;
  }

  #about-product .about-container p:last-child {
    margin-bottom: 0;
  }

  #about-product .about-container .icon-box {
    background: #1D2731;
    background-size: cover;
    padding: 0 0 30px 0;
  }

  #about-product .about-container .icon-box .icon {
    float: left;
    background: #1D2731;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #328CC1;
  }

  #about-product .about-container .icon-box .icon i {
    color: #328CC1;
    font-size: 24px;
    line-height: 0;
  }

  #about-product .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }

  #about-product .about-container .icon-box .title a {
    color: #E0DEDE;
  }

  #about-product .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }


    /* Phone Section
  --------------------------------*/
  #phone {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/dplateblur.jpg) fixed center;
    background-size: cover;
    padding: 80px 0;
  }

  #phone h2 {
    text-align: center;
    align-items: center;
  }

  #phone .cta-text-container {
    align-items: center;
  }
  
  @media (max-width: 1024px) {
    #phone {
      background-attachment: scroll;
    }
  }

  #phone .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    align-items: center;
    padding-top: 15px;
  }
  
  #phone .cta-text {
    color: #fff;
    align-items: center;
  }
  
  @media (min-width: 769px) {
    #phone .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  
  #phone .cta-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    align-items: center;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #phone .cta-btn:hover {
    background: #328CC1;
    border: 2px solid #328CC1;
  }


  #phone .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #328CC1;
  }
  
  #phone .icon a {
    display: inline-block;
  }
  
  #phone .icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
  }
  
  #phone .box:hover .icon {
    background: #fff;
    border: 2px solid #328CC1;
  }
  
  #phone .box:hover .icon i {
    color: #328CC1;
  }
  
  #phone .box:hover .icon a {
    color: #328CC1;
  }

  

  /* Solutions Section
  --------------------------------*/
  #solutions {
    background: #1D2731;
    background-size: cover;
    padding: 80px 0 40px 0;
  }
  
  #solutions .box {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #1D2731;
    height: 200px;
    position: relative;
    background: #1D2731;
  }
  
  #solutions .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #328CC1;
  }
  
  #solutions .icon a {
    display: inline-block;
  }
  
  #solutions .icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
  }
  
  #solutions .box:hover .icon {
    background: #fff;
    border: 2px solid #328CC1;
  }
  
  #solutions .box:hover .icon i {
    color: #328CC1;
  }
  
  #solutions .box:hover .icon a {
    color: #328CC1;
  }
  
  #solutions .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  #solutions .title a {
    color: #C5C1C0;
  }
  
  #solutions .description {
    font-size: 14px;
    line-height: 24px;
  }
  
  /* Call To Action Section
  --------------------------------*/
  #call-to-action {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/dplateblur.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
  }
  
  @media (max-width: 1024px) {
    #call-to-action {
      background-attachment: scroll;
    }
  }
  
  #call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  #call-to-action .cta-text {
    color: #fff;
  }
  
  @media (min-width: 769px) {
    #call-to-action .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  
  #call-to-action .cta-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #call-to-action .cta-btn:hover {
    background: #328CC1;
    border: 2px solid #328CC1;
  }


  /* Products Section
  --------------------------------*/
  #products {
    background: #1D2731;
    padding: 80px 0 60px 0;
  }
  
  #products .member {
    text-align: center;
    margin-bottom: 20px;

  }
  
  #products .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    height: 260px;
    border: 0px solid #d9b310;
    border-radius: 15px;
    filter: brightness(1);
    transition: filter 0.2s ease-in-out;
  }

  #products .member .prod:hover {
    filter: brightness(1.3);
  }

  #products .member .pic img {
    max-width: 100%;
  }
  
  #productsm .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }

  #products .member a:hover {
    color: #328cc1;
  }
  
  #products .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  #products .member .social {
    margin-top: 15px;
  }
  
  #products .member .social a {
    color: #b3b3b3;
  }
  
  #products .member .social a:hover {
    color: #328CC1;
  }
  
  #products .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }

    /* Call To Action Section
  --------------------------------*/
  #trusted {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/dplateblur.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
  }
  
  @media (max-width: 1024px) {
    #trusted {
      background-attachment: scroll;
    }
  }
  
  #trusted .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  #trusted .cta-text {
    color: #fff;
  }
  
  @media (min-width: 769px) {
    #trusted .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  
  #trusted .cta-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #trusted .cta-btn:hover {
    background: #328CC1;
    border: 2px solid #328CC1;
  }
  
  /* Team Section
  --------------------------------*/
  #team {
    background: #1D2731;
    padding: 40px 0 60px 0;
  }
  
  #team .member {
    text-align: center;
    margin-bottom: 20px;

  }
  
  #team .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    height: 260px;
    border: 0px solid #d9b310;
    border-radius: 15px;
    filter: brightness(1);
    transition: filter 0.2s ease-in-out;
  }

  #team .member .prod:hover {
    filter: brightness(1.3);
  }

  #team .member .pic img {
    max-width: 100%;
  }
  
  #team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }

  #team .member a:hover {
    color: #328cc1;
  }
  
  #team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  #team .member .social {
    margin-top: 15px;
  }
  
  #team .member .social a {
    color: #b3b3b3;
  }
  
  #team .member .social a:hover {
    color: #328CC1;
  }
  
  #team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }

  .flag {
        padding-top: 10px;
        margin-top: 25px

  }
  

    /* Team Section
  --------------------------------*/
  #team-size {
    background: #1D2731;
    padding: 40px 0 60px 0;
  }
  
  #team-size .member {
    text-align: center;
    margin-bottom: 20px;


  }

  #team-size .row {
    margin-top: auto;
  }
  
  #team-size .member .pic {
    margin: 15px;
    overflow: hidden;
    height: 260px;
    border-radius: 15px;
    filter: brightness(1);
    transition: filter 0.2s ease-in-out;
    /* background-color:#328CC1; */
    border-radius: 5px;
  }

  #team-size .member .prod:hover {
    filter: brightness(1.3);
  }

  #team-size .member .pic img {
    max-width: 100%;
    
  }
  
  #team-size .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }

  #team-size .member a:hover {
    color: #328cc1;
  }
  
  #team-size .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }

  #team-size .member {
    background-color: #328CC1;
    border-radius: 5px;
    width: 300px;
  }
  
  #team-size .member .social {
    margin-top: 15px;
  }
  
  #team-size .member .social a {
    color: #b3b3b3;
  }
  
  #team-size .member .social a:hover {
    color: #328CC1;
  }
  
  #team-size .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }

  /* service Section
  --------------------------------*/
  #service {
    background: #1D2731;
    padding: 80px 0;
  }

  #service .about-container .background {
    min-height: 350px;
    background: url(../img/DSC00633.JPG)  center top no-repeat;
    background-size: contain;
    margin-bottom: 15px;
    border-radius: 15px 15px 15px 15px;
  }

  @media (max-width: 768px) {
    #service .about-container .background{
      background-size: 75%;
    }
  }

  #service .about-container .content {
    background: #1D2731;
  }

  #service .about-container .title {
    color: #E0DEDE;
    font-weight: 700;
    font-size: 32px;
  }

  @media (max-width: 768px) {
    #service .about-container .title {
      padding-top: 15px;
    }
  }

  #service .about-container p {
    line-height: 26px;
  }

  #service .about-container p:last-child {
    margin-bottom: 0;
  }

  #aservice .about-container .icon-box {
    background: #1D2731;
    background-size: cover;
    padding: 0 0 30px 0;
  }

  #service .about-container .icon-box .icon {
    float: left;
    background: #1D2731;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #328CC1;
  }

  #service .about-container .icon-box .icon i {
    color: #328CC1;
    font-size: 24px;
    line-height: 0;
  }

  #service .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }

  #service .about-container .icon-box .title a {
    color: #E0DEDE;
  }

  #service .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }

  /* Contact Section
  --------------------------------*/
  #contact {
    background: #1D2731;
    padding: 80px 0 40px 0;
  }
  
  #contact #google-map {
    height: 300px;
    margin-bottom: 20px;
  }
  
  #contact .info {
    color: #fff;
  }
  
  #contact .info i {
    font-size: 32px;
    color: #328CC1;
    float: left;
    line-height: 0;
  }
  
  #contact .info p {
    padding: 0 0 10px 50px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
  }
  
  #contact .info .email p {
    padding-top: 5px;
  }
  
  #contact .social-links {
    padding: 20px 0;
  }
  
  #contact .social-links a {
    font-size: 18px;
    background: #333;
    color: #fff;
    line-height: 1;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  #contact .survey {
    font-size: 28px;
  }

  #contact .social-links a i {
    line-height: 0;
  }
  
  #contact .social-links a:hover {
    background: #328CC1;
    color: #fff;
  }
  
  #contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  #contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  #contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #328CC1;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  #contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  #contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #328CC1;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  #contact .php-email-form input, #contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  #contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
    background-color: #328CC1;
  }
  
  #contact .php-email-form button[type="submit"] {
    background: #0b3c5d;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  
  #contact .php-email-form button[type="submit"]:hover {
    background: #328CC1;
    color: #fff;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: #343b40;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
  }
  